<div>
  <div>
    use_input_search_query$
  </div>
  <pre *ngIf="use_input_search_query$ | async as result">
    {{ result | json }}
  </pre>
</div>
<div>
  <div>
     use_input_search_query_and_with_loading_state$
  </div>
  <pre *ngIf="use_input_search_query_and_with_loading_state$ | async as result">
    {{ result | json }}
  </pre>
</div>
<div>
  <div>
     use_input_search_query_and_with_loading_state_and_keep_latest_success_state_when_loading$
  </div>
  <pre *ngIf="use_input_search_query_and_with_loading_state_and_keep_latest_success_state_when_loading$ | async as result">
    {{ result | json }}
  </pre>
</div>
<div>
  <div>
    use_input_search_query_and_pulling$
  </div>
  <pre *ngIf="use_input_search_query_and_pulling$ | async as result">
    {{ result | json }}
  </pre>
</div>
  